<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="address" class="com.waciao.pojo.Address">
        <property name="address" value="柳州"/>
    </bean>

    <bean id="student" class="com.waciao.pojo.Student">
        <!--普通注入-->
        <property name="name" value="waciao"/>
        <!--Bean 注入-->
        <property name="address" ref="address"/>
        <!--数组注入-->
        <property name="books">
            <array>
                <value>红楼梦</value>
                <value>西游记</value>
                <value>水浒传</value>
                <value>三国演义</value>
            </array>
        </property>
        <!--List 注入-->
        <property name="hobby">
            <list>
                <value>唱</value>
                <value>跳</value>
                <value>rap</value>
            </list>
        </property>
        <!--Map 注入-->
        <property name="card">
            <map>
                <entry key="身份证" value="132165168168168"/>
                <entry key="银行卡" value="848454654648468468468"/>
            </map>
        </property>
        <!--Set 注入-->
        <property name="games">
            <set>
                <value>星际争霸2</value>
                <value>英雄联盟</value>
            </set>
        </property>
        <!--NULL 注入-->
        <property name="wife">
            <null/>
        </property>
        <!--Properties 注入-->
        <property name="info">
            <props>
                <prop key="email">byojiaoxianz7@outlook.com</prop>
                <prop key="学号">20200325</prop>
                <prop key="姓名">giao哥</prop>
            </props>
        </property>
    </bean>

</beans>